/* css for coutner */
*{
    /* outline: dotted 1px red; */
}

/* div.wrapper{
    background-color: lemonchiffon; */
    /* width: 1000px; */
    /* min-height: 600px; */
/* } */
h1{
    text-align: center;
    color: white;
}

div.center{
    margin-top: 40px;
    background-color: lightblue;
    width: 400px;
    height: 400px;
    vertical-align: top;
    margin: 0 auto;
}
button{
    height: 60px;
    width: 100px;
    margin: 0 auto;
    vertical-align: top;
}