*{
    /* outline: 1px dotted red; */
}
div.head{
    margin: 0 auto;
    width: 600px;
    height: 70px;
    background-color: lightgreen;
}
div.result{
    margin: 0 auto;
    width: 600px;
    min-height: 200px;
    background-color: aliceblue;
}
textarea{
    width: 400px;
}
h1{
    text-align: center;
}
button{
    margin-left: 170px;
}